* { box-sizing: border-box;}
body{
     font-family: 'Roboto', sans-serif;
    background-color: burlywood;
}
img {
    max-width: 250px;
     margin: 10px;
}
header{
    background-color: brown;
    color:white;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
header h1{
    font-family: 'Chicle', cursive;
    text-shadow: 3px 2px black;
    margin:0;
    padding: 0;
    width: 100%;
    
}

figure img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
  
}
figcaption{
    text-align: center;
    font-size: 1.5em;
}


nav ul{
    margin: 0;
    padding: 0;
    background-color:darkred;
    max-height: inherit;
}
.navbar li{
    list-style: none;
    text-align: center;
}
.navbar a{
    text-decoration: none;
    font-family: cursive;
    font-size: 1.5rem;
    color:white;
    font-weight: bold;
    max-height: inherit;
    display: grid; 
} 


.navbar{
    width:100%;
}

nav ul li a:hover{
   color:darkred;
   background-color:azure;
}
nav ul li a:visited{
   color:cornflowerblue;
}
nav ul li.active a{
color:darkred;
background-color:burlywood;
}
nav ul.hide{display:none;}

h2,h3,h4,h5,h6{
    font-family: cursive;
    text-align: center;
    color:darkred;
   
}
h2 a{color:darkred;}

main{width:80%;margin:0 auto;}


footer{
    width: 100%;
    background-color: brown;
    color:white;
    text-align: center;
}
footer h3{
    color:white;
}
footer div{
    
}
/*EVENT*/

section b{
    font-size: 1.2em;
    font-style: italic;
}

form{margin: 1em 3%;}
fieldset{
	background-color: rgb(66, 209, 244);
	border-radius: .8em;
	margin:1.5em 0;
	border: rgb(50, 137, 173) solid 1px;
	}
legend{
	color: white;
	margin-left:6%;
	padding: .5em;
	border: rgb(50, 137, 173) solid 1px;
	background-color: rgb(50, 137, 173);
	border-radius: .4em;
}
label{
	display:block;
	margin: .5em;
}
label span{
	display:block;
	font-size: .8em;
	color: black;
	padding-top:.9em;
	padding-bottom: .2em;
	}
	input:required ~ em:after { content: " *"; color:red;}
textarea{width:100%;height:80px; max-width:37.5em;}
	

#submit{
	-webkit-appearance:none;
	color: #fff;
	border: solid 1px #111;
	border-radius:7px;
	width:50%;
	margin:.5em 0;
	font-size:1em;
	padding:.6em;
	background:#7d2a35;
	box-shadow:4px 4px 10px #666;
}

/*SALES*/
#grid{
        display: grid;
    grid-template-columns: auto;
}
#accordion{
text-overflow:ellipsis;}

 #accordion h3:hover{
        color:white;
        cursor: pointer;
    }
/*SERVICE*/
table{
    background-color: gray;
    color:white;
    font-weight: bold;
    box-shadow: 5px 10px 10px grey;
    margin: 20px;
}
table caption{
    background-color: black;
    color:white;
    font-size: 1.3em;
    padding: 5px;
}
table th{
    background-color: darkred;
}
table td{
    margin: 0.5px;
    background-color: cornflowerblue;
    padding: 4px;
}
table tfoot tr td{
    background-color: black;
    font-size: 1.3em;
}
/*Contact*/
iframe{
        min-width: 150px;
        width:100%;
     display: block;
    margin:0 auto;  
    box-shadow:5px 3px 5px grey;
    border-width:5px;  
    border-style:ridge;
    border-color:grey;
    }
/*INDEX*/
#index a:hover{
    color:white;
    cursor: pointer;
}